# Node
frontend/roadbuddy_pro/node_modules
frontend/roadbuddy_pro/.next
frontend/roadbuddy_pro/.env
frontend/roadbuddy_pro/.env.local

# Python
backend/venv
backend/__pycache__
backend/.env

# General
.env
*.log
.DS_Store