# Node
frontend/roadbuddy_pro/node_modules/
frontend/roadbuddy_pro/.next/
frontend/roadbuddy_pro/.env
frontend/roadbuddy_pro/.env.local

# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env
backend/alembic/__pycache__/
backend/alembic/versions/__pycache__/
backend/app/__pycache__/
backend/app/**/*.pyc

# General
.env
*.log
.DS_Store